// ===========================================
// Mobile Styles
// ===========================================

.sidebar-wrapper,
.custom-sidebar-content {
  display: none;
}

#main-outlet-wrapper {
  display: block;
}

#main-outlet {
  padding: 12px;
}

.wrap { padding: 0; }

.search-menu,
.c-navbar__full-page-button,
.btn-sidebar-toggle {
  display: none;
}

// iPhone safe area
@supports (padding-bottom: env(safe-area-inset-bottom)) {
  .robotime-brand-nav,
  .robotime-category-nav {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
}
